/* -------reset------- */
* {
    margin: 0;
    padding: 0;
}
/* .fond {
    background-image:url(assets/images/foond.png);
    width: 375px;
    height: 812px;
} */
p {
    font-family: 'Abril Fatface', cursive;
}
h3 {
    font-family: 'Abril Fatface', cursive;

    font-family: 'M PLUS Rounded 1c', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Shadows Into Light', cursive;
}
h1, h2 {
    font-family: Abril Fatface;
}
/* ------------------------------------------Header------------------------------------------ */
.navbar {
    list-style: none;
}
.navlink {
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 38px;
    color: aliceblue;
}
.navlink:hover {
    background-color: gold;
    color: black;
  }
/* -----------------------------------------Main--------------------------------------------- */
.tailleimgprog {
    max-height: 80vh;
}
/*----------------------------------------media querie--------------------------------------- */
@media all and ( min-width: 320px) and (max-width:768px) {

}
@media (min-width: 991.98px) {
    button.hamb {
        display: none;
    }
    .menu {
        display: flex;
    }
    .navlink {
        color: white;
        justify-content: space-between;
        padding-left: 30px;

    }
    .navlink:hover {
        background-color: white;
        text-decoration: underline;
      }
    p {
        font-size: 1.7em;
    }
    ul.dropdown {
        font-size: 1.0em;
    }
    .poslogo1 {
        left: 40%;
    }
    /* --logo Evénement page-- */
    .poslogo2 {
        left: 40%;
    }
    .data1 {
        width: 600px ;
        height: 500px ;
    }
    .data2 {
        width: 600px;
        height: 800px;
    }
}
@media (max-width: 991.98px) {
    .menu {
        display: none;
    }
    .navlink {
        font-size: 30px;
    }
    #logo {
        width: 50px;
        height: 50px;
    }
    .logo {
        width: 0.5em;
        height: 0.5em;
    }
    .poslogo1 {
        left: 40%;
    }
    /* --logo Evénement page-- */
    .poslogo2 {
        left: 40%;
    }
}
@media (max-width: 575.98px) {
    .navlink {
        font-size: 30px;
    }
    #logo {
        width: 50px;
        height: 50px;
    }
    .logo {
        width: 0.5em;
        height: 0.5em;
    }
    .poslogo1 {
        left: 35%;
    }
    /* --logo Evénement page-- */
    .poslogo2 {
        left: 35%;
    }
    .taillelogo {
        font-size: 1.3em;
    }
}

/* -----------------------------------------------Evénement page------------------------------------ */
.pcard {
    font-size: 1em;
}
.dropdown {
    z-index: 2;
}